---
import Layout from '@layouts/Layout.astro';

import { experience } from '@data/experience';
import { otherProjects, projects } from '@data/projects';

import Contact from '@components/Contact.astro';
import Experience from '@components/Experience.astro';
import Profile from '@components/Profile.astro';
import SectionHeader from '@components/SectionHeader.astro';
import Socials from '@components/Socials.astro';
import Techs from '@components/Techs.astro';
import ThemeIcon from '@icons/ThemeIcon.astro';

import HomeIcon from '@components/HomeIcon.astro';
import OtherProjectCard from '@components/OtherProjectCard.astro';
import ProjectCard from '@components/ProjectCard.astro';
import ContactIcon from '@icons/ContactIcon.astro';
import ProjectIcon from '@icons/ProjectIcon.astro';
import SocialsIcon from '@icons/SocialsIcon.astro';
import TechnologyIcon from '@icons/TechnologyIcon.astro';
import ExperienceIcon from '../icons/ExperienceIcon.astro';
---

<Layout
    title='Pablo Koll Portfolio - Software Developer'
    description='Software developer with experience in web development'>
    <header
        class='mx-auto max-w-3xl sticky top-0 z-20 h-16 flex justify-end items-center p-6 bg-white dark:bg-gray-800 bg-opacity-80 dark:bg-opacity-80 backdrop-blur-lg'>
        <HomeIcon />
        <ThemeIcon />
    </header>
    <main class='flex flex-col gap-16 sm:max-w-3xl m-auto p-5 overflow-hidden'>
        <section class='flex flex-col justify-center sm:flex-row sm:justify-start gap-2 sm:gap-5'>
            <Profile />
        </section>
        <hr class='border-dashed border-1' />
        <section class='flex flex-col'>
            <SectionHeader name='Work Experience'>
                <ExperienceIcon className='size-9' />
            </SectionHeader>
            {experience.map((experience, i) => <Experience experience={experience} index={i} />)}
        </section>
        <section>
            <SectionHeader name='Projects'>
                <ProjectIcon className='size-9' />
            </SectionHeader>
            <div class='flex flex-col gap-10'>
                <div class='grid gap-10 md:gap-20'>
                    {
                        projects.map((project, index) => (
                            <ProjectCard project={project} index={index} />
                        ))
                    }
                </div>
                <div class='grid md:grid-cols-2 gap-2 sm:gap-5'>
                    {otherProjects.map((project) => <OtherProjectCard project={project} />)}
                </div>
            </div>
        </section>
        <section>
            <SectionHeader name='Primary Technologies'>
                <TechnologyIcon className='size-9' />
            </SectionHeader>
            <Techs />
        </section>
        <section>
            <SectionHeader name='Socials'>
                <SocialsIcon className='size-9' />
            </SectionHeader>
            <Socials />
        </section>
        <section>
            <SectionHeader name='Contact'>
                <ContactIcon className='size-9' />
            </SectionHeader>
            <Contact />
        </section>
    </main>
</Layout>
